# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage
.pytest_cache/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml

# Virtual environments
.venv/
venv/
env/
ENV/
app/venv/

# Archivos de Entorno (¡NUEVA SECCIÓN!)
# IGNORAR ARCHIVOS DE SECRETO
.env
.env.*
*.env

# PyCharm
.idea/
# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# PyInstaller
*.manifest
*.spec

# Jupyter
.ipynb_checkpoints/

# Mypy
.mypy_cache/

# Logs
*.log

# Database
*.sqlite3

# Byte-compiled
*.pyc
*.pyo
*.pyd

# Other
*.pot
.python-version
